.vscode
app/play-service-account.json
*.iml
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
app/release/*
.gradle/
local.properties
proguard/
*.log
.navigation/
.idea/
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
*.jks
*.keystore
keystore.properties
.cxx/
google-services.json
freeline.py
freeline/
freeline_project_description.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
vcs.xml
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
app/release/output.json

# Local secrets
/github-secrets.txt
